@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lora&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    margin: 0;
    padding:0;
}
body{
    background-color:  rgb(4 11 38);
}
.sidebar{
    background-color: black;
    width:20vw;
    height: 100vh;;
    transition:transform 2s ease-in;
    position:fixed;
    top:2.8vh;
    left:0px;
    min-width:147px;
    z-index: 4;
    top:0px;
    padding: 0;
   
}
.sidebargo{
    transform: translate(-186px 0px);
    position:fixed;
    visibility: hidden;
   
    
}
.sidebar nav{
    margin: 0;
    padding: 20px;
    color:#fdffff;;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    margin: 0;
    cursor:pointer;
    padding: 7.5vh 0;
    padding-left: 6vw;
    
}
.sidebar nav li a{
    text-decoration: none;
    color: white;

}
.hamburger{
    background-color: black;
   position:fixed;
   left: 0px;
  
   align-self: start;
   width:100vw;
   height:6vh;
   top:0px;
   z-index: 5;

}
.ham {
    margin-top:  1.5vh;
    margin-left: 10px;
    transition:tranceform(4s);
    cursor: pointer;
}



.cross{
    margin-top:  1.5vh;
    margin-left: 10px;
    transition:tranceform(.700s);
    cursor: pointer;
   
}
.footer{
    background-color: black;
   
  justify-self:bottom;
  bottom: 0px;
   align-items: center;
   width:100vw;
   height:6vh;
   position: sticky;
    bottom: 0px;
    left:0px;
   display: flex;
    justify-content: center;
    z-index: 3;
    flex-wrap: wrap;}
    .icons{
        display: flex;
        justify-content: space-between;
        width: 156px;
        
    
    }
.copy{
    position: absolute;
    right: 0px;
    font-size: .7vw;
    color: #7a7988;
    
    padding-right: 32px;
  }
  .container
  {
    display: flex;
    flex-direction: column;
    width:100vw;
    
  }
  .h1{
    display: flex;
    color: aliceblue;
    margin-top: 6vh;
    margin-bottom: 7px;
    justify-content: center;
    
    font-family: 'Noto Sans', sans-serif;
  }
  .h2{
    display: flex;
    color: aliceblue;
    justify-content: center;
    font-family: 'Cinzel', serif;
    margin: 5px 0;
    color:#a0a0b0;
    
  }
  .row1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:2vh 5vw;
    justify-content: center;
  }
  .card{
    display:flex;
    
    margin: 10px 63px;
    min-width:247px;
    width:20vw;
    min-height:350px;
    padding: 0;
    overflow: hidden;
    border:1px solid white;
    cursor:pointer;
    box-shadow:0 0 16px 4px;
   
    
    background-color: #fdffff;
  }
  .card span{
    transition:background-position 4s ease-in-out 0s;
    width:100%;
    height:100%;
    background-position:top center ;
    background-size:cover;
    background-image:url("spap.jpeg");
  }
  .card:hover span{
    background-position:bottom center ;
  }
  .row2{
    display:flex;
    flex-direction: row;
    margin:1vh 5vw;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }
         